<footer class="footer">
  <small>
     <a href="https://railstutorial.jp/">This application developed</a>
    by <a href="http://www.michaelhartl.com/">Yoshioka Taichi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このサイトについて",   about_path %></li>
    </ul>
  </nav>
</footer>