<footer class="フッター">
  <small>
      This application developed
    by Yoshioka Taichi
  </small>
  <nav>
    <ul>
      <li><%= link_to "このサイトについて",   about_path %></li>
    </ul>
  </nav>
</footer>